In [1]:
import pandas as pd

In [2]:
import io
df = pd.read_csv('adult.data.csv')

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
df["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [5]:
# What is the average age of men?
average_age_men = round(df.loc[df["sex"] == "Male", "age"].mean(), 1)
average_age_men

39.4

In [6]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(float(((df["education"] == "Bachelors").sum()) / len(df)) * 100, 1)
percentage_bachelors

16.4

In [7]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df.loc[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
lower_education = df.loc[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

# percentage with salary ">50K"
higher_education_rich = round((higher_education['salary'] == '>50K').sum() / len(higher_education) * 100, 1)
lower_education_rich = round((lower_education['salary'] == '>50K').sum() / len(lower_education) * 100, 1)

In [8]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df["hours-per-week"].min()

In [9]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = len(df[df['hours-per-week'] == min_work_hours])

rich_percentage = round((len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == ">50K")]) / num_min_workers) * 100, 1)

In [11]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = (df.loc[df['salary'] == ">50K", "native-country"].value_counts() / df['native-country'].value_counts()).fillna(0).sort_values(ascending=False).index[0]
highest_earning_country_percentage = round(len(df[(df['native-country'] == highest_earning_country) & (df['salary'] == ">50K")]) / len(df[df["native-country"] == highest_earning_country]) * 100, 1)

# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['salary'] == ">50K") & (df['native-country'] == "India")]["occupation"].value_counts().index[0]